.container{
    background-color: bisque;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}


.searchSection{
    background-color: blue;
    flex:2
}


.logoSection{
    background-color: rgb(19, 56, 44);
}

